# Python / venv
.venv/
venv/
*.pyc
__pycache__/

# dbt artifacts
target/
logs/
dbt_packages/
manifest.json
run_results.json

# Credentials
.env
*.json
*.key
*.pem

# Editors / misc
*.swp
.DS_Store

# Power BI (keep .pbit if you add later)
*.pbix

# Virtual envs
dbt-venv/
